* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

h1 {
    font-size: clamp(3rem, 4vw, 6rem);
    font-family: var(--font-poppins);
    font-weight: 600;
    color: #f5f5f5;
    text-align: center;
}

h2 {
    font-size: clamp(2.5rem, 2.5vw, 3.3rem);
    font-family: var(--font-poppins);
    font-weight: 500;
    color: #f5f5f5;
    text-align: center;
}

h3 {
    font-size: clamp(2.1rem, 2.4vw, 2.7rem);
    font-family: var(--font-poppins);
    font-weight: 500;
    color: #f5f5f5;
    line-height: 1.4;
}

p, li, blockquote {
    font-family: var(--font-open-sans);
    color: #f5f5f5;
    opacity: 95%;
    font-weight: 400;
    line-height: 1.5;

}
a, button, figcaption {
    font-family: var(--font-poppins);
    font-weight: 500;
    color: #f5f5f5;
}

body {
    background: linear-gradient(180deg, #0B0B0B 0%, #232B40 20.67%, #0B0B0B 62.02%, #232B40 100%);
}
section{
    padding: min(2.5rem, 5%);
}
button {
    background-color: #304565;
    border-radius: 0.4rem;
    color: #f5f5f5;
}
.lightDiv{
    background-color: rgb(255, 255, 255, 0.05);
}
cite{
    font-style: normal;
}