/*header section*/

.header{
    display: flex;
    padding: 3rem;
    justify-content: space-between;
}
.header a{
    font-size: clamp(2.3rem, 2.3vw, 2.8rem);
}
.header button{
    font-size: clamp(1.5rem, 2.0vw, 1.9rem);
    padding: min(0.9rem, 1.8%) min(3rem, 5%);
}

/*hero-section*/

.heroSection{
    min-height: 70dvh;
}
.heroSection h1{
    margin-top: 10vh;
}
.heroSection p{
    text-align: center;
    font-size: clamp(1.6rem, 1.7vw, 2rem);
    margin-top: 2vh;
}
.heroSection button, .cta button{
    display: block;
    margin: 5vh auto;

    font-size: clamp(1.7rem, 2.1vw, 2.1rem);
    padding: min(0.9rem, 1.8%) min(7rem, 14%);
}

/*testimonial section*/

.testimonialSection{
    min-height: 40dvh;
}
.testimonialSection div{
    display: flex;
    justify-content: space-around;
    margin-top: 8dvh;

}
.testimonialSection span{
    color: #f5f5f5;
    background-color: rgb(255, 255, 255, 0.5);
    padding: min(1rem, 2%) min(3rem, 4%);
    font-size: clamp(1.3rem, 1.7vw, 2rem);
}

/*service section*/

.serviceSection{
    min-height: 70dvh;
}
.serviceSection ul{
    display: flex;
    justify-content: space-evenly;
}
.serviceSection li{
    padding: min(6rem, 10%);
}
.serviceSection li p{
    font-size: clamp(1.45rem, 1.7vw, 1.7rem);
    margin-top: 1dvh;
    letter-spacing: 0.05rem;
}

/*about section*/

.aboutSection{
    text-align: center;
}
.aboutSection p{
    font-size: clamp(1.45rem, 1.7vw, 1.9rem);
    margin: 8dvh auto;
    letter-spacing: 0.05rem;
    width: min(90rem, 95%);
}
.aboutSection div{
    background-color: #f5f5f5;
    height: 50dvh;
    width: min(90rem, 95%);

    display:flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(2.2rem, 4vw, 4rem);
    font-family: var(--font-poppins);
    font-weight: 500;

    padding: min(5rem, 3%);
    margin: auto;
}

/*review section*/

.reviewSection{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    position: relative;
}
.reviewSection h2{
    position: sticky;
    top: 8vh;
}
.reviewSection > div{
    position: relative;
    min-height: 100dvh;
}
.reviewSection article{
    padding: min(4rem, 6%);
    margin: auto;

    background: #232B40;
    width: min(83rem, 95%);
    min-height: 30dvh;
    box-shadow: 0 0 0.3rem 0.1rem #0B0B0B;

    position: sticky;
    top: 20dvh;
}
.reviewSection h3{
    text-align: center;
    margin-bottom: 4dvh;
}
.reviewSection article div{
    display: flex;
    gap: min(3rem, 2%);
}
.reviewSection figure{
    flex: 1;
}
.reviewSection figcaption{
    font-size: clamp(1.8rem, 2.2vw, 2.4rem);
}
.reviewSection blockquote{
    font-size: clamp(1.4rem, 1.7vw, 1.75rem);
    margin-top: 2dvh;
}

.reviewSection ul{
    flex: 1;
    padding-left: min(3rem, 3%);
    border-left: 0.2rem solid #f5f5f5;
}
.reviewSection li{
    font-size: clamp(1.5rem, 1.8vw, 2rem);
    font-family: var(--font-poppins);
    font-weight: 500;
    line-height: 1.6;
}


/*footer*/
.footer{
    padding: min(5rem, 5%) min(5rem, 3%);
}
.footer h3{
    margin-bottom: 3dvh;
}
.footerDiv{
    display: flex;
    justify-content: space-between;
}
.footerDiv section{
    padding: 0;
}
.footerDiv p, .footerDiv li{
    font-size: clamp(1.45rem, 1.7vw, 1.7rem);
    line-height: 2;
}
.footerDiv section:nth-child(3) ul{
    display: flex;
    gap: 4%;
}
.footerDiv img{
    height: 5dvh;
}
.footerPartner span{
    color: #f5f5f5;
    background-color: rgb(255, 255, 255, 0.5);
    padding: min(1rem, 2%) min(3rem, 4%);
    font-size: clamp(1.3rem, 1.7vw, 1.6rem);
    margin-right: 3%;
}
.footerPartner h3{
    margin-bottom: 5dvh;
}

@media (max-width: 768px) {
    .serviceSection ul{
        flex-direction: column;
    }
    .reviewSection article div{
        flex-direction: column;
        gap: 3dvh;
    }
    .reviewSection ul{
        padding-left: 0;
        border-left: none;
    }

    .footerDiv{
        flex-direction: column;
        gap: 5dvh;
    }
}


